body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(137, 143, 160);
  padding: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  text-align: center;
}
.container {
  margin-top: 7vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.zadanie {
  margin-top: 3px;
  width: 300px;
  height: 30px;
  font-weight: 540;
  background-color: rgb(49, 95, 136);
  border-radius: 30px;
  border-style: solid;
  border-color: black;
  text-transform: capitalize;
  padding: 6px;
  display: flex;
  font-size: 18px;
  column-gap: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.zad {
  margin-left: 8px;
}
.delete {
  margin-left: auto;
}
.delete:hover {
  cursor: pointer;
}
input {
  outline: none;
}
.alertDiv {
  height: 20px;
}
.last {
  margin-right: 10px;
}
.true {
  color: green;
}
.false {
  color: red;
}
.zadanie:hover span {
  cursor: pointer;
}
.container-sortowanie {
  margin-top: 20px;
  line-height: 100%;
  display: flex;
}
.sortowanie-div {
  position: relative;
  font-size: 24px;
  border-radius: 3px;
  margin: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(188, 74, 192);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.sortowanie-div:hover {
  padding-top: 6px;
  opacity: 0.8;
}
.potym {
  position: absolute;
  top: 83%;
  left: 30%;
  content: "";
  height: 4px;
  width: 40%;
  border-radius: 30px;
  background: #28478a;
}

.sortowanie-count {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: black;
  border-radius: 80px;
  position: absolute;
  z-index: 1;
  color: rgb(43, 180, 100);
  right: 1px;
  top: 1px;
  font-size: 10px;
  text-align: center;
  font-weight: 550;
}

.sortowanie-div::after {
  width: 0;
}

.del {
  bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  padding: 3px;
  display: flex;
  width: 260px;
  justify-content: center;
  background-color: rgb(233, 74, 74);
}
.empty {
  border-radius: 10px;
  margin-top: 16px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: center;
  background-color: rgb(207, 66, 66);
}
